.card {
	width: 250px;
	height: 150px;
	background-color: green;
	border: 1px solid #000;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 3px 3px #737373;
	box-shadow: 3px 3px 3px 3px #737373;
	padding: 10px;
	float: left;
	margin: 10px;
	text-align: center;
}